.navtop {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 1151.00px;
height: 50.00px;
left: 215.00px;
top: 0.00px;

}

.navtop .header {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 1151.00px;
height: 50.00px;
left: 0.00px;
top: 0.00px;

}

.navtop  p {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(16, 16, 16, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 18.00px;
  font-weight: 700;
font-style: normal;
  font-family: Nunito, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 91.00px;
height: 24.00px;
left: 67.00px;
top: 13.00px;

}

.navtop .icon{
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(0, 0, 0, 1);
  box-shadow: none;
  width: 27.00px;
height: 27.00px;
left: 30.00px;
top: 12.00px;

}

.navtop .userdata {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 175.00px;
height: 35.00px;
left: 926.00px;
top: 8.00px;

}

.navtop .userdata .foto {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  fill: rgba(255, 255, 255, 0);
  stroke: rgba(106, 106, 106, 0.10196078431372549);
      stroke-width: 1.00px;
      stroke-linecap: butt;
  box-shadow: none;
  width: 38.50px;
height: 38.50px;
left: 138.50px;
top: -1.50px;

}

.navtop .userdata .grouprole {

  display: block;
  position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  overflow-x: unset;
  overflow-y: unset;
  background-color: transparent;
  width: 130.00px;
height: 25.00px;
left: 0.00px;
top: 5.00px;

}

.navtop .userdata .grouprole .nombre {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: right;
  letter-spacing: 0.00px;
  color: rgba(106, 106, 106, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 10.00px;
  font-weight: 400;
font-style: normal;
  font-family: Nunito, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 130.00px;
height: 14.00px;
left: 0.00px;
top: 0.00px;

}

.navtop .userdata .grouprole .rol {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(106, 106, 106, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 10.00px;
  font-weight: 700;
font-style: normal;
  font-family: Nunito, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 66.00px;
height: 14.00px;
left: 63.00px;
top: 11.00px;

}

.navtop .selectbutton-green {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(40, 236, 53, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 10.00px;
height: 50.00px;
left: 0.00px;
top: 0.00px;

}
.navtop .selectbutton-yellow {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(230, 211, 34, 1);
  border-bottom-color: rgba(112, 112, 112, 1);
  border-bottom-style: none;
  border-bottom-width: 1.00px;
  border-left-color: rgba(112, 112, 112, 1);
  border-left-style: none;
  border-left-width: 1.00px;
  border-right-color: rgba(112, 112, 112, 1);
  border-right-style: none;
  border-right-width: 1.00px;
  border-top-color: rgba(112, 112, 112, 1);
  border-top-style: none;
  border-top-width: 1.00px;
  border-top-left-radius: 0.00px;
  border-top-right-radius: 0.00px;
  border-bottom-left-radius: 0.00px;
  border-bottom-right-radius: 0.00px;
  box-shadow: none;
  width: 10.00px;
height: 50.00px;
left: 0.00px;
top: 0.00px;

}
.navtop .selectbutton-orange {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 125, 39, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 10.00px;
  height: 50.00px;
  left: 0.00px;
  top: 0.00px;
  
  }
  .navtop .selectbutton-cyan {
    position: absolute;
      box-sizing: content-box;
      -ms-transform: rotate(0.00deg);
    -webkit-transform: rotate(0.00deg);
    transform: rotate(0.00deg);
    -ms-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
      opacity: 1;
      cursor: default;
      margin-top: 0.00px;
      margin-right: 0.00px;
      margin-bottom: 0.00px;
      margin-left: 0.00px;
      padding-top: 0.00px;
      padding-right: 0.00px;
      padding-bottom: 0.00px;
      padding-left: 0.00px;
      background-color:rgba(10, 180, 255, 1);
      border-bottom-color: rgba(112, 112, 112, 1);
      border-bottom-style: none;
      border-bottom-width: 1.00px;
      border-left-color: rgba(112, 112, 112, 1);
      border-left-style: none;
      border-left-width: 1.00px;
      border-right-color: rgba(112, 112, 112, 1);
      border-right-style: none;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: none;
      border-top-width: 1.00px;
      border-top-left-radius: 0.00px;
      border-top-right-radius: 0.00px;
      border-bottom-left-radius: 0.00px;
      border-bottom-right-radius: 0.00px;
      box-shadow: none;
      width: 10.00px;
    height: 50.00px;
    left: 0.00px;
    top: 0.00px;
    
    }
    .navtop .selectbutton-purple {
      position: absolute;
        box-sizing: content-box;
        -ms-transform: rotate(0.00deg);
      -webkit-transform: rotate(0.00deg);
      transform: rotate(0.00deg);
      -ms-transform-origin: center;
      -webkit-transform-origin: center;
      transform-origin: center;
        opacity: 1;
        cursor: default;
        margin-top: 0.00px;
        margin-right: 0.00px;
        margin-bottom: 0.00px;
        margin-left: 0.00px;
        padding-top: 0.00px;
        padding-right: 0.00px;
        padding-bottom: 0.00px;
        padding-left: 0.00px;
        background-color: rgba(187, 54, 226, 1);
        border-bottom-color: rgba(112, 112, 112, 1);
        border-bottom-style: none;
        border-bottom-width: 1.00px;
        border-left-color: rgba(112, 112, 112, 1);
        border-left-style: none;
        border-left-width: 1.00px;
        border-right-color: rgba(112, 112, 112, 1);
        border-right-style: none;
        border-right-width: 1.00px;
        border-top-color: rgba(112, 112, 112, 1);
        border-top-style: none;
        border-top-width: 1.00px;
        border-top-left-radius: 0.00px;
        border-top-right-radius: 0.00px;
        border-bottom-left-radius: 0.00px;
        border-bottom-right-radius: 0.00px;
        box-shadow: none;
        width: 10.00px;
      height: 50.00px;
      left: 0.00px;
      top: 0.00px;
      
      }
.navtop .datet {
position: absolute;
  box-sizing: content-box;
  -ms-transform: rotate(0.00deg);
-webkit-transform: rotate(0.00deg);
transform: rotate(0.00deg);
-ms-transform-origin: center;
-webkit-transform-origin: center;
transform-origin: center;
  opacity: 1;
  cursor: default;
  margin-top: 0.00px;
  margin-right: 0.00px;
  margin-bottom: 0.00px;
  margin-left: 0.00px;
  padding-top: 0.00px;
  padding-right: 0.00px;
  padding-bottom: 0.00px;
  padding-left: 0.00px;
  background-color: rgba(255, 255, 255, 0);
  text-align: left;
  letter-spacing: 0.00px;
  color: rgba(45, 45, 45, 1);
  -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
  font-size: 24.00px;
  font-weight: 400;
font-style: normal;
  font-family: Nunito, Arial;
  text-decoration: none;
  box-shadow: none;
  overflow-x: unset;
  overflow-y: unset;
  white-space: pre;
  width: 104.00px;
height: 32.00px;
left: 524.00px;
top: 9.00px;

}