.adminPersonalNuevoUsuario {

  display: block;
 

}

.adminPersonalNuevoUsuario .modalBg {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(84, 84, 84, 0.5098039215686274);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 1366.00px;
  height: 620.00px;
  left: 0.00px;
  top: 0.00px;

}

.adminPersonalNuevoUsuario .modal {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 800.00px;
  height: 650.00px;
  left: 283.00px;
  top: 85.00px;

}

.adminPersonalNuevoUsuario .modal .path8 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(255, 255, 255, 1);
    stroke: rgba(112, 112, 112, 1);
        stroke-width: 1.00px;
        stroke-linecap: butt;
    box-shadow: none;
    width: 800.00px;
  height: 650.00px;
  left: 0.00px;
  top: 0.00px;

}

.adminPersonalNuevoUsuario .modal .modalHeader {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 780.50px;
  height: 47.50px;
  left: 10.00px;
  top: 10.00px;

}

.adminPersonalNuevoUsuario .modal .modalHeader .personal {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(51, 51, 51, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 18.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 72.00px;
  height: 24.00px;
  left: 0.00px;
  top: 0.00px;

}

.adminPersonalNuevoUsuario .modal .modalHeader .completaElFormularioConLosDatosSolicitados {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 254.00px;
  height: 16.00px;
  left: 0.00px;
  top: 24.00px;

}

.adminPersonalNuevoUsuario .modal .modalHeader .divider {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: transparent;
    stroke: rgba(112, 112, 112, 0.2);
        stroke-width: 1.50px;
        stroke-linecap: round;
    box-shadow: none;
    width: 783.00px;
  height: 3.00px;
  left: -1.00px;
  top: 46.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker {

    display: block;
    position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    overflow-x: unset;
    overflow-y: unset;
    background-color: transparent;
    width: 460.00px;
  height: 191.00px;
  left: 21.00px;
  top: 68.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .seleccionaUnaFotoParaElUsuario {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 186.00px;
  height: 16.00px;
  left: 0.00px;
  top: 0.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .rectangle48 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 460.00px;
  height: 170.00px;
  left: 0.00px;
  top: 21.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .nopathCopia6 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    background-image: url("");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 170.00px;
  height: 170.00px;
  left: 0.00px;
  top: 21.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .buttonselect {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(51, 51, 51, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(34, 132, 230, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(34, 132, 230, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(34, 132, 230, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(34, 132, 230, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    box-shadow: none;
    width: 135.00px;
  height: 30.00px;
  left: 248.00px;
  top: 112.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .sueltaElArchivoAqui {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(51, 51, 51, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 14.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 137.00px;
  height: 19.00px;
  left: 245.00px;
  top: 71.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .oBuscaloDesdeElExploradorDeArchivos {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(51, 51, 51, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 223.00px;
  height: 16.00px;
  left: 203.00px;
  top: 88.00px;

}

.adminPersonalNuevoUsuario .modal .imagePicker .seleccionar {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(51, 51, 51, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 63.00px;
  height: 16.00px;
  left: 284.00px;
  top: 119.00px;

}

.adminPersonalNuevoUsuario .modal .rectangle46 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 282.00px;
  height: 30.00px;
  left: 498.00px;
  top: 111.00px;

}
.adminPersonalNuevoUsuario .modal  .productos {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 16.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 172.00px;
  height: 16.00px;
  left: 21.00px;
  top: 350.00px;

}
.adminPersonalNuevoUsuario .modal  .productos-arr {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 16.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 172.00px;
  height: 16.00px;
  left: 21.00px;
  top: 380.00px;

}
.adminPersonalNuevoUsuario .modal  .total {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 16.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 172.00px;
  height: 16.00px;
  left: 21.00px;
  top: 590.00px;

}
.adminPersonalNuevoUsuario .modal .total-dinero {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 17.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 172.00px;
  height: 16.00px;
  left: 91.00px;
  top: 590.00px;

}
.adminPersonalNuevoUsuario .modal .xNombres50CaracteresMax {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 172.00px;
  height: 16.00px;
  left: 21.00px;
  top: 90.00px;

}

.adminPersonalNuevoUsuario .modal .xNombres50CaracteresMax .xNombres50CaracteresMax-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xNombres50CaracteresMax .xNombres50CaracteresMax-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 15.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle57 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 282.00px;
  height: 30.00px;
  left: 498.00px;
  top: 170.00px;

}

.adminPersonalNuevoUsuario .modal .xApellidoPaterno30CaracteresMax {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 212.00px;
  height: 16.00px;
  left: 21.00px;
  top: 149.00px;

}

.adminPersonalNuevoUsuario .modal .xApellidoPaterno30CaracteresMax .xApellidoPaterno30CaracteresMax-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xApellidoPaterno30CaracteresMax .xApellidoPaterno30CaracteresMax-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 15.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle58 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 760.00px;
  height: 30.00px;
  left: 21.00px;
  top: 229.00px;

}
.adminPersonalNuevoUsuario .modal .rectangle58t {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 15.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 760.00px;
  height: 30.00px;
  left: 21.00px;
  top: 229.00px;

}
.adminPersonalNuevoUsuario .modal .xApellidoMaterno30CaracteresMax {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 215.00px;
  height: 16.00px;
  left: 21.00px;
  top: 208.00px;

}

.adminPersonalNuevoUsuario .modal .xApellidoMaterno30CaracteresMax .xApellidoMaterno30CaracteresMax-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xApellidoMaterno30CaracteresMax .xApellidoMaterno30CaracteresMax-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle59 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 150.00px;
  height: 30.00px;
  left: 21.00px;
  top: 291.00px;

}
.adminPersonalNuevoUsuario .modal .rectangle59t {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 14.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 150.00px;
  height: 30.00px;
  left: 21.00px;
  top: 291.00px;

}
.adminPersonalNuevoUsuario .modal .xDni8Caracteres {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 105.00px;
  height: 16.00px;
  left: 21.00px;
  top: 270.00px;

}

.adminPersonalNuevoUsuario .modal .xDni8Caracteres .xDni8Caracteres-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xDni8Caracteres .xDni8Caracteres-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle60 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 150.00px;
  height: 30.00px;
  left: 191.00px;
  top: 291.00px;

}

.adminPersonalNuevoUsuario .modal .rectangle60t {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 14.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgb(255, 255, 255);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgb(255, 255, 255);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgb(255, 255, 255);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 150.00px;
  height: 30.00px;
  left: 191.00px;
  top: 291.00px;

}

.adminPersonalNuevoUsuario .modal .xNroCelular9Caracteres {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 147.00px;
  height: 16.00px;
  left: 191.00px;
  top: 270.00px;

}

.adminPersonalNuevoUsuario .modal .xNroCelular9Caracteres .xNroCelular9Caracteres-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xNroCelular9Caracteres .xNroCelular9Caracteres-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle61 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 250.00px;
  height: 30.00px;
  left: 21.00px;
  top: 351.00px;

}

.adminPersonalNuevoUsuario .modal .xContrasena20CaracteresMax {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 185.00px;
  height: 16.00px;
  left: 21.00px;
  top: 330.00px;

}

.adminPersonalNuevoUsuario .modal .xContrasena20CaracteresMax .xContrasena20CaracteresMax-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xContrasena20CaracteresMax .xContrasena20CaracteresMax-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle63 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 419.00px;
  height: 30.00px;
  left: 361.00px;
  top: 291.00px;

}
.adminPersonalNuevoUsuario .modal .rectangle63t {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(0, 0, 0, 1);
    font-weight: 400;
    font-style: normal;
    font-size: 14.00px;
    font-family: Nunito, Arial;
    letter-spacing: 0;
    text-decoration: none;
      background-color: rgba(255, 255, 255, 1);
      border-bottom-color: rgb(255, 255, 255);
      border-bottom-style: solid;
      border-bottom-width: 1.00px;
      border-left-color: rgb(255, 255, 255);
      border-left-style: solid;
      border-left-width: 1.00px;
      border-right-color: rgb(255, 255, 255);
      border-right-style: solid;
      border-right-width: 1.00px;
      border-top-color: rgba(112, 112, 112, 1);
      border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 419.00px;
  height: 30.00px;
  left: 361.00px;
  top: 291.00px;

}

.adminPersonalNuevoUsuario .modal .xDireccion70CaracteresMax {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 173.00px;
  height: 16.00px;
  left: 361.00px;
  top: 270.00px;

}

.adminPersonalNuevoUsuario .modal .xDireccion70CaracteresMax .xDireccion70CaracteresMax-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xDireccion70CaracteresMax .xDireccion70CaracteresMax-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .rectangle64 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 250.00px;
  height: 30.00px;
  left: 291.00px;
  top: 351.00px;

}

.adminPersonalNuevoUsuario .modal .xSeleccionarRolDelUsuario {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 148.00px;
  height: 16.00px;
  left: 291.00px;
  top: 330.00px;

}

.adminPersonalNuevoUsuario .modal .xSeleccionarRolDelUsuario .xSeleccionarRolDelUsuario-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xSeleccionarRolDelUsuario .xSeleccionarRolDelUsuario-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .administradora {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 95.00px;
  height: 16.00px;
  left: 298.00px;
  top: 358.00px;

}

.adminPersonalNuevoUsuario .modal .polygon1 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(180.00deg);
  -webkit-transform: rotate(180.00deg);
  transform: rotate(180.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 10.00px;
  height: 8.42px;
  left: 521.00px;
  top: 362.21px;

}

.adminPersonalNuevoUsuario .modal .rectangle65 {
  position: absolute;
    box-sizing: border-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-color: rgba(112, 112, 112, 1);
    border-bottom-style: solid;
    border-bottom-width: 1.00px;
    border-left-color: rgba(112, 112, 112, 1);
    border-left-style: solid;
    border-left-width: 1.00px;
    border-right-color: rgba(112, 112, 112, 1);
    border-right-style: solid;
    border-right-width: 1.00px;
    border-top-color: rgba(112, 112, 112, 1);
    border-top-style: solid;
    border-top-width: 1.00px;
    border-top-left-radius: 0.00px;
    border-top-right-radius: 0.00px;
    border-bottom-left-radius: 0.00px;
    border-bottom-right-radius: 0.00px;
    box-shadow: none;
    width: 219.00px;
  height: 30.00px;
  left: 561.00px;
  top: 351.00px;

}

.adminPersonalNuevoUsuario .modal .xSeleccionarElEstadoDelUsuario {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 400;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 183.00px;
  height: 16.00px;
  left: 561.00px;
  top: 330.00px;

}

.adminPersonalNuevoUsuario .modal .xSeleccionarElEstadoDelUsuario .xSeleccionarElEstadoDelUsuario-0 {
  color: rgba(255, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .xSeleccionarElEstadoDelUsuario .xSeleccionarElEstadoDelUsuario-1 {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-style: normal;
  font-size: 12.00px;
  font-family: Nunito, Arial;
  letter-spacing: 0;
  text-decoration: none;
}

.adminPersonalNuevoUsuario .modal .activo {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(0, 0, 0, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 35.00px;
  height: 16.00px;
  left: 568.00px;
  top: 358.00px;

}

.adminPersonalNuevoUsuario .modal .polygon3 {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(180.00deg);
  -webkit-transform: rotate(180.00deg);
  transform: rotate(180.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    fill: rgba(0, 0, 0, 1);
    box-shadow: none;
    width: 10.00px;
  height: 8.42px;
  left: 761.00px;
  top: 362.21px;

}

.adminPersonalNuevoUsuario .modal .buttong {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    background-color: rgba(47, 230, 34, 1);
    border-bottom-color: rgba(34, 132, 230, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(34, 132, 230, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(34, 132, 230, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(34, 132, 230, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    box-shadow: none;
    width: 135.00px;
  height: 30.00px;
  left: 645.00px;
  top: 600.00px;

}

.adminPersonalNuevoUsuario .modal .guardar {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 45.00px;
  height: 16.00px;
  left: 690.00px;
  top: 407.00px;

}

.adminPersonalNuevoUsuario .modal .buttonc {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    background-color: rgba(255, 112, 112, 1);
    border-bottom-color: rgba(34, 132, 230, 1);
    border-bottom-style: none;
    border-bottom-width: 1.00px;
    border-left-color: rgba(34, 132, 230, 1);
    border-left-style: none;
    border-left-width: 1.00px;
    border-right-color: rgba(34, 132, 230, 1);
    border-right-style: none;
    border-right-width: 1.00px;
    border-top-color: rgba(34, 132, 230, 1);
    border-top-style: none;
    border-top-width: 1.00px;
    border-top-left-radius: 20.00px;
    border-top-right-radius: 20.00px;
    border-bottom-left-radius: 20.00px;
    border-bottom-right-radius: 20.00px;
    box-shadow: none;
    width: 135.00px;
  height: 30.00px;
  left: 505.00px;
  top: 600.00px;

}

.adminPersonalNuevoUsuario .modal .cancelar {
  position: absolute;
    box-sizing: content-box;
    -ms-transform: rotate(0.00deg);
  -webkit-transform: rotate(0.00deg);
  transform: rotate(0.00deg);
  -ms-transform-origin: center;
  -webkit-transform-origin: center;
  transform-origin: center;
    opacity: 1;
    cursor: default;
    margin-top: 0.00px;
    margin-right: 0.00px;
    margin-bottom: 0.00px;
    margin-left: 0.00px;
    padding-top: 0.00px;
    padding-right: 0.00px;
    padding-bottom: 0.00px;
    padding-left: 0.00px;
    background-color: rgba(255, 255, 255, 0);
    text-align: left;
    letter-spacing: 0.00px;
    color: rgba(255, 255, 255, 1);
    -webkit-text-stroke: 1.00px rgba(0, 0, 0, 0);
    font-size: 12.00px;
    font-weight: 700;
  font-style: normal;
    font-family: Nunito, Arial;
    text-decoration: none;
    box-shadow: none;
    overflow-x: unset;
    overflow-y: unset;
    white-space: pre;
    width: 48.00px;
  height: 16.00px;
  left: 548.00px;
  top: 4607.00px;

}

